In [3]:
import pandas as pd

from google.cloud import bigquery
from utils import query_latest_etas

# Specify the project folder to establish a client
client = bigquery.Client(project="eco-folder-402813")

In [2]:
# Run the query to get the latest ETAs per stop
output = query_latest_etas(client)

In [4]:
# Display the output as a DataFrame
pd.DataFrame.from_dict([dict(item) for item in output])

,stop_id,jeep_ids_list,jeep_locations_list,jeep_arrival_times_list,jeep_plate_num_list,insertion_time
0,AL1,"ID1,ID3,ID2","North Avenue,,","2922.7,3414.8,3986.5","ABC12345,GHI12345,DEF67890",2023-10-31 21:33:45
1,AL2,"ID1,ID3,ID2","North Avenue,,","5667.4,6159.5,6699.4","ABC12345,GHI12345,DEF67890",2023-10-31 21:33:45
2,AL3,"ID1,ID3,ID2","North Avenue,,","11243.0,11735.1,12275.0","ABC12345,GHI12345,DEF67890",2023-10-31 21:33:45
3,AL4,"ID3,ID1,ID2",",North Avenue,","11864.6,11372.5,12404.5","GHI12345,ABC12345,DEF67890",2023-10-31 21:33:45
4,AL5,"ID3,ID1,ID2",",North Avenue,","11864.6,11372.5,12404.5","GHI12345,ABC12345,DEF67890",2023-10-31 21:33:45