In [1]:
from utils import read_json_path, query_route_updates
import googlemaps

GOOGLE_API_KEY = open('google_maps_key', 'r').readlines()[0]
MAPBOX_API_KEY = open('mapbox_key', 'r').readlines()[0]

gmaps = googlemaps.Client(key=GOOGLE_API_KEY)

# Idea Backlog
* If we query mapbox for all routes at the start of the hour, we'll have really bad performance at the start then good performance later on; what if we iteratively query throughout the hour, while using historical data for the rest
* Moreover, we shouldn't query ALL jeeps to ALL stops in the route, cuz that will cost lots of money
    * What we should do instead is figure out which stop it's closest to, and query that

Hint: The database table needs to look like this

|StopID|List of Jeeps|List of Arrival Times|List of Jeep Routes|
|-----|-----|-----|-----|
|AL1|ID1, ID2|5.5, 10|Aurora Loop, Aurora Loop|
|AL2|ID3, ID1|6, 20|Aurora Loop, Aurora Loop|
|QA1|ID4, ID5|10, 20|Quezon Ave Loop, Quezon Ave Loop|
|QA2|ID6, ID4|10, 20|Quezon Ave Loop, Quezon Ave Loop|

In [2]:
trinoma = {"lat": 14.653053, "lng": 121.034895}
lung_center = {"lat": 14.647911, "lng": 121.046710}
sachi = {"lat": 14.646185, "lng": 121.052834}
    
stop_coords_mapping_dict = read_json_path("data/stop_coords_mapping_dict.json")
jeep_route_mapping_dict = read_json_path("data/jeep_route_mapping_dict.json")
route_stops_mapping_dict = read_json_path("data/route_stops_mapping_dict.json")

In [3]:

route_name = "aurora_loop"

jeep_ids = jeep_route_mapping_dict[route_name]
stop_ids = route_stops_mapping_dict[route_name]

In [4]:
jeep_ids

['ID1', 'ID2', 'ID3']

In [5]:
stop_ids

['AL1', 'AL2', 'AL3', 'AL4', 'AL5']

In [6]:
query_route_updates(
    jeep_ids = ["ID1","ID2"], 
    stop_ids = ["AL1", "AL2"],
    stop_coords_mapping_dict = stop_coords_mapping_dict,
    use_mapbox = True,
    MAPBOX_API_KEY = MAPBOX_API_KEY
)

  stop_id list_of_jeeps     list_of_times
0     AL1    [ID1, ID2]  [3550.1, 3882.0]
1     AL2    [ID1, ID2]  [6257.8, 6594.9]